.home-page-container {
  width: 100%;
  max-width: 700px;
  margin: 1.5rem auto 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

@media (max-width: 700px) {
  .home-page-container {
    padding: 0;
  }
}