.profile-tabs {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #2a3440;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.tab-btn {
  border-radius: 0;
  background: none;
  border: none;
  color: #9fb3c8;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 0.25rem;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: color 0.2s, border-color 0.2s;
}

.tab-btn:hover {
  color: #fff;
  filter: drop-shadow(0px 0px 10px rgb(101, 101, 101, 0.7))
}

.tab-btn.active {
  color: #fff;
  border-bottom-color: #37a762;
}

.tab-btn:focus {
  outline: none;
}