.user-avatar-component {
  border-radius: 50%;
  background-color: #f77f00;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  overflow: hidden;
  flex-shrink: 0;
  border: 1px solid #3a3a3a;
}

.user-avatar-component img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}